/* Fondo general del body */
:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(5px);
}

.login-container {
  width: 920px;
  min-height: 530px;
  display: flex;
  border-radius: 18px;
  overflow: hidden;
  margin: auto;
  background: rgba(0, 0, 0, 0.35); /* antes 0.06 → ahora 0.35 */
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.55);
}

/* Panel izquierdo */
.left-panel {
  width: 55%;
  background: rgba(255, 255, 255, 0.08);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(14px);
}

.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.left-title {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

.left-text {
  text-align: center;
  color: #ececec;
  font-size: 15px;
  margin-bottom: 40px;
}

.btn-learn {
  padding: 10px 25px;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

/* Panel derecho */
.right-panel {
  width: 45%;
  padding: 45px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
}

.right-title {
  text-align: center;
  color: white;
  font-size: 26px;
  margin-bottom: 25px;
}

/* Inputs */
.form-group {
  margin-bottom: 10px;
}

label {
  color: white;
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
}

.input-control {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 15px;
}

/* Botones */
.btn-primary {
  width: 100%;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* Forgot password */
.forgot-link {
  text-align: center;
  margin-top: 10px;
}

.forgot-link a {
  color: #ffffff;
  text-decoration: none;
}

.custom-hover {
  transition: all 0.25s ease-in-out;
}

.custom-hover:hover {
  filter: brightness(1.25); /* Aclara el color en hover */
}
