<div class="w-full h-full flex justify-center items-center"
[ngStyle]="{
       'background-image': 'url('+urlImageBackground+')',
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat',
    'width': '100vw',
    'height': '100vh',
    'background-color': '#666666'
     }">

  <div class="login-container">
    
    <!-- Columna Izquierda: Formulario -->
    <div class="left-panel justify-center items-center">
      <img [src]="urlLogoCompany" alt="icon" class="h-[120px] border-white p-2"> 

      <h2 class="left-title">{{ clientData.nameCompany ?? 'SuiteXtech'}}</h2>
      <p class="text-white w-full text-right">Nueva Contraseña</p>

      <div class="form-group w-full">
      <label>Contraseña</label>
      <div class="flex input-control "> 
        <input [(ngModel)]="password" (input)="onInputChange($event)" [type]="showPassword ? 'text' : 'password'" 
        id="password" name="password" autocomplete="off" required class="bg-transparent border-none focus:outline-none focus:ring-0 w-full" placeholder="Contraseña" /> 
        <button type="button" (click)="togglePasswordVisibility()" class=""> 
          <img *ngIf="!showPassword" [src]="urlIconNoVisible" alt="Mostrar contraseña" class="h-[20px] r-2 w-auto opacity-100"/> 
          <img *ngIf="showPassword" [src]="urlIconVisible" alt="Ocultar contraseña" class="h-[20px] w-auto opacity-60"/> 
        </button> 
      </div> 
    </div>

    <div class="form-group w-full">
      <label>Confirmar Contraseña</label>
      <div class="flex input-control "> 
        <input [(ngModel)]="passwordTwo" (input)="onInputChangeTwo($event)" [type]="showPassword ? 'text' : 'password'" 
        id="password" name="password" autocomplete="off" required class="bg-transparent border-none focus:outline-none focus:ring-0 w-full" placeholder="Contraseña" /> 
        <button type="button" (click)="togglePasswordVisibility()" class=""> 
          <img *ngIf="!showPassword" [src]="urlIconNoVisible" alt="Mostrar contraseña" class="h-[20px] r-2 w-auto opacity-100"/> 
          <img *ngIf="showPassword" [src]="urlIconVisible" alt="Ocultar contraseña" class="h-[20px] w-auto opacity-60"/> 
        </button> 
      </div> 
    </div>

    <button class="btn-primary custom-hover" [disabled]="!allValid || isLoading" [ngStyle]="{ 'background-color': !allValid ? clientData.ColorTwo : currentColor }" (click) = "updatePassword()">
      <div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center">  
        <svg class="animate-spin h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"> 
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/> 
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"/> 
        </svg> 
      </div> 
      <span [class.opacity-0]="isLoading">Confirmar</span> 
    </button>

      <app-modal-message 
        [isVisible]="isModalVisible" 
        [errorMessage]="errorMessage" 
        [title]="title"
        [isSuccess]="isSuccess" 
        (closeModalEvent)="closeModal()">
      </app-modal-message>

      <div class="forgot-link">
        <a [routerLink]="['/login'+domain]" >Regresar al inicio de sesión</a>
      </div>
    </div>

    <!-- Columna Derecha: Reglas -->
    <div class="right-panel justify-center items-center ">
      <h3 class="text-white text-lg font-semibold mb-4 w-full">Tu nueva contraseña debe:</h3>
      <ul class="space-y-2 text-sm text-gray-700">

        <li *ngIf="mayusculaRule.isActive" class="flex items-center gap-2 text-white">
          <span class="text-teal-600"><img [src]="mayuscula ? iconSuccessfull : iconError" alt="Éxito" class="h-5"></span> Minimo una letra Mayuscula.
        </li>

        <li *ngIf="minusculaRule.isActive" class="flex items-center gap-2 text-white">
          <span class="text-teal-600"><img [src]="minuscula ? iconSuccessfull : iconError" alt="Éxito" class="h-5"></span> Minimo una letra Minuscula.
        </li>

        <li *ngIf="especialRule.isActive" class="flex items-center gap-2 text-white">
          <span class="text-teal-600"><img [src]="especial ? iconSuccessfull : iconError" alt="Éxito" class="h-5"></span> Minimo un caracter Especial. (@, #, $...)
        </li>

        <li *ngIf="numeroRule.isActive" class="flex items-center gap-2 text-white">
          <span class="text-teal-600"><img [src]="numero ? iconSuccessfull : iconError" alt="Éxito" class="h-5"></span> Minimo un caracter Numerico.
        </li>

        <li *ngIf="caracteresMinRule.isActive" class="flex items-center gap-2 text-white">
          <span class="text-teal-600"><img [src]="caracteresMin ? iconSuccessfull : iconError" alt="Éxito" class="h-5"></span> Caracteres Minimos {{caracteresMinRule.value}}
        </li>

        <li *ngIf="caracteresMaxRule.isActive" class="flex items-center gap-2 text-white">
          <span class="text-teal-600"><img [src]="caracteresMax ? iconSuccessfull : iconError" alt="Éxito" class="h-5"></span> Caracteres Maximos {{caracteresMaxRule.value}}
        </li>

        <li *ngIf="palabrasNoPermitidasRule.isActive" class="flex items-center gap-2 text-white"> <span class="text-teal-600">
        <img [src]="palabrasNoPermitidas ? iconSuccessfull : iconError" alt="Éxito" class="h-5"/></span> <span>Palabras no permitidas en la Contraseña.</span>

          <!-- 👁️ Icono para ver -->
          <button
            type="button"
            (click)="openPalabrasModal()"
            class="text-gray-100 hover:text-teal-700"
            >
            <i class="fa fa-eye"></i>
          </button>
        </li>

        <!-- 🪟 Panel lateral moderno -->
        <div
          *ngIf="showPalabrasModal"
          class="fixed top-0 right-0 w-[340px] bg-gradient-to-b from-white via-gray-50 to-gray-100 
                 shadow-[0_0_25px_rgba(0,0,0,0.1)] border-l border-gray-200 z-50 flex flex-col 
                 transition-transform duration-500 ease-in-out transform animate-slideIn rounded-2xl"
                 style="height: calc(100% - 1rem);"
        >
          <!-- Encabezado -->
          <div class="flex items-center justify-between border-b border-gray-200 pb-3 px-5 pt-6">
            <h2 class="text-gray-800 text-lg font-semibold  flex items-center gap-2">
              Palabras no permitidas
            </h2>
            <button
              (click)="togglePalabrasModal()"
              class="text-gray-400 hover:text-red-500 text-lg transition-colors"
              title="Cerrar"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        
          <!-- Contenido -->
          <div class="flex-1 px-5 py-4 overflow-y-auto">
            <p class="text-gray-600 text-sm mb-3">
              Estas palabras no pueden incluirse en la contraseña por motivos de seguridad:
            </p>
          
            <ul
              class="bg-white rounded-xl shadow-inner border border-gray-100 p-4 space-y-2 
                     text-gray-700 text-sm max-h-[60vh] overflow-y-auto"
            >
              <li
                *ngFor="let w of palabrasNoPermitidasRule?.word"
                class="flex items-center gap-2 hover:bg-gray-50 px-2 py-1 rounded-md transition"
              >
                <img [src]="iconError" alt="Éxito" class="h-4">
                <span class="text-[15px] ">{{ w.word }}</span>
              </li>
            </ul>
          </div>
        
          <!-- Pie con acción -->
          <div class="border-t border-gray-200 px-5 py-2 flex justify-end">
            <button
              (click)="togglePalabrasModal()"
              class=" btn-primary custom-hover"
              [ngStyle]="{ 'background-color': currentColor }"
            >
              Entendido
            </button>
          </div>
        </div>


        <li  class="flex items-center gap-2 text-white">
          <span class="text-teal-600"><img [src]="equalsPassword ? iconSuccessfull : iconError" alt="Éxito" class="h-5"></span> Las contraseñas coinciden correctamente.
        </li>

        <li *ngIf="noUsarAnterioresRule.isActive" class="flex items-center gap-2 text-white">
          <span class="text-teal-600"><img [src]="iconWarnning" alt="Éxito" class="h-5"></span> No utilizar contraseñas anteriores.
        </li>

      </ul>
    </div>
  </div>
</div>

<!-- Modal de Respuesta Mejorado -->
<div *ngIf="showResponseModal"
  class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-40 z-50 backdrop-blur-sm transition duration-300">
  <div class="bg-white rounded-2xl shadow-xl p-8 w-[90%] max-w-[400px] text-center animate-fade-in">

    <!-- Ícono con efecto -->
    <div class="flex justify-center mb-4">
      <div class="bg-gray-100 rounded-full p-4 shadow-inner">
        <img *ngIf="responseSuccess" [src]="iconSuccessfull" alt="Éxito"
          class="h-16 transition-transform duration-300 hover:scale-110">

        <img *ngIf="!responseSuccess" [src]="iconError" alt="Error"
          class="h-16 transition-transform duration-300 hover:scale-110">
      </div>
    </div>

    <!-- Título -->
    <h2 class="text-lg font-bold text-gray-800">{{ tittle }}</h2>

    <!-- Mensaje -->
    <p class="text-gray-600 mt-2 text-sm">{{ responseMessage }}</p>

    <!-- Botón -->
    <div class="mt-6">
      <button (click) ="login()"
        class="w-full h-[30px] text-sm items-center justify-center gap-2 rounded-[14px] font-semibold text-white transition duration-200 hover:brightness-110 shadow-md"
        [ngStyle]="{'background-color': !responseSuccess ? clientData.ColorTwo : clientData.ColorOne}">
        {{ !responseSuccess ? 'Entiendo' : 'Aceptar' }}
      </button>
    </div>
  </div>
</div>