<div class="w-full h-full flex justify-center items-center"
[ngStyle]="{
       'background-image': 'url('+urlImageBackground+')',
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat',
    'width': '100vw',
    'height': '100vh',
    'background-color': '#666666'
     }">

<div class="login-container">

  <!-- Panel izquierdo -->
  <div class="left-panel justify-center items-center">
      <img [src]="urlLogoCompany" alt="icon" class="h-[120px] border-white p-2"> 


    <h2 class="left-title">{{ clientData.nameCompany ?? 'SuiteXtech'}}</h2>

    <p class="left-text">
      Autentíquese con su contraseña para continuar. Asegúrese de completar correctamente el captcha.
    </p>

    <button class="btn-learn custom-hover" [ngStyle]="{ 'background-color': currentColor }" >¡Ayuda!</button>
  </div>

  <!-- Panel derecho -->
  <div class="right-panel justify-center items-center "> 
    <h3 class="right-title font-semibold">{{ clientData.NameUser }}</h3>

    <div class="form-group w-full">
      <label>Contraseña</label>
      <div class="flex input-control "> 
        <input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" 
        id="password" name="password" autocomplete="off" required class="bg-transparent border-none focus:outline-none focus:ring-0 w-full" placeholder="Contraseña" /> 
        <button type="button" (click)="togglePasswordVisibility()" class=""> 
          <img *ngIf="!showPassword" [src]="urlIconNoVisible" alt="Mostrar contraseña" class="h-[20px] r-2 w-auto opacity-100"/> 
          <img *ngIf="showPassword" [src]="urlIconVisible" alt="Ocultar contraseña" class="h-[20px] w-auto opacity-60"/> 
        </button> 
      </div> 
    </div>

    <div *ngIf="clientData.requestCode" class="form-group w-full">
      <label>Código</label>
      <input [(ngModel)]="code" maxlength="6" id="code" style="text-transform: uppercase;" name="code" placeholder="Código" autocomplete="off" 
      class="text-center input-control border-none focus:outline-none focus:ring-0 " >
    </div>

    <div class="captcha-container w-full flex justify-center" > 
      <div style="transform: scale(0.8); transform-origin: center;"> 
        <re-captcha *ngIf="showCaptcha"
          [siteKey]="siteKey" 
          (resolved)="onCaptchaSuccess($event)">
        </re-captcha>
      </div>
    </div> 

    <button class="btn-primary custom-hover" [disabled]="isLoading" [ngStyle]="{ 'background-color': currentColor }" (click)="login()">
      <div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center">  
        <svg class="animate-spin h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"> 
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/> 
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"/> 
        </svg> 
      </div> 
      <span [class.opacity-0]="isLoading">Entrar</span> 
    </button>

    <button class="btn-secondary" (click)="goback()">
      <div *ngIf="isLoadingBack" class="absolute inset-0 flex items-center justify-center">  -->
        <svg class="animate-spin h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"> 
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/> 
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"/> 
        </svg> 
      </div>
      <span [class.opacity-0]="isLoadingBack">Regresar</span> 
    </button>

    <div class="forgot-link">
      <a [routerLink]="['/email-recovery']" [queryParams]="{ operation: true }">¿Olvidó su contraseña?</a>
    </div>
  </div>

  <app-modal-message 
    [isVisible]="isModalVisible" 
    [errorMessage]="errorMessage" 
    [title]="title" 
    [isSuccess]="isSuccess" 
    (closeModalEvent)="closeModal()">            
  </app-modal-message>
  
  </div>
</div>